.card {width:210px; border-style:solid; border-width:1px; border-radius:5%; border-color: grey; text-align: center; }

img{width:200px; border-radius:50%; border-width:5px; border-style: solid; border-color: rgb(236,183,191);}